@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  background-color: #d5e1ef;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.card {
  background-color: white;
  padding: 16px;
  padding-bottom: 40px;
  border-radius: 20px;
  max-width: 320px;
  display: flex;
  gap: 24px;
}

img {
  max-width: 288px;
  border-radius: 10px;
}

.text-container {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  font-family: "Outfit", sans-serif;
}

h1 {
  letter-spacing: 0px;
  font-size: 12px;
  color: #1f314f;
  line-height: 120%;
}
